<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title><%= htmlWebpackPlugin.options.title %></title>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Libre+Franklin:600&display=swap" rel="stylesheet">
    </head>
    <body style="background-color: #faf4eb">
        <% if (htmlWebpackPlugin.options.appMountId) { %>
            <div id="<%= htmlWebpackPlugin.options.appMountId%>"></div>
        <% } %>
    </body>
</html>